# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Generated graph file
graph/*.graphml
graph/test_extract/

# Runtime / local files
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache hasil runtime
cache/
